
<header>
    <div class="container">
        <a href="#" routerlink="/" >
            <img src="/assets/images/travellogo.jpg" height="100px" width="150px">
        </a>
        <a href="#home" class="float" >Home</a>
        <a href="#aboutus" class="float" routerLink="/aboutus">About-us</a>
        <a href="#contactus" class="float" routerLink="/contactus">Contact-us</a>
        <a href="#feedback" class="float" routerLink="/feedback">Feedback</a>
        <a href="#cartpage" class="float" routerLink="/cartpage">Cart</a>
    </div>
    
     
</header>
 <router-outlet></router-outlet> 
