<div class="container">

	<h1 class="brand"><span>TRAVEL</span></h1>

	<div class="wrapper">

		<!-- COMPANY INFORMATION -->
		<div class="company-info">
			<h3>We work with you in mind </h3>

			<ul>
				<li>Since 1975, TravelStore has been committed to bringing travelers the best in value and quality travel arrangements. </li>
				<li>We are passionate about travel and providing corporate travelers high touch services to facilitate their business travel needs and sharing the world's wonders on the leisure travel side.</li>
			</ul>


			

			<!-- <ul>
				<li><i class="fa fa-road"></i> Mr.ABC</li>
				<li><i class="fa fa-phone"></i> 987654321</li>
				<li><i class="fa fa-envelope"></i> ABC@gmail.com</li>
			</ul> -->
		</div>
