ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}
ul li a{
    height: 23rem;
    width:20rem;
    border: 1px solid blue;
    border-radius: 1rem;
    margin:0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color:rgb(1, 34, 116);
    text-decoration: none;
    background-color: lightblue;
    
}
marquee {
   color: mediumblue;
   
}
li a:hover{
    opacity: .9;
    position: relative;
}
.content{
    padding: .5rem 1rem;
    position:relative;
}
.favorite{
    position: absolute;
    top:.5rem;
    right: 1rem;
    font-size: 1.2rem;
}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.origin{
    margin-top: 8px;
    flex: 11;
}
.origin .span{
    border-radius: 2rem;
    background-color: gainsboro;
    color: green;
    font: .6rem;
    margin-right: .3rem;
    display: inline-block;
}
.roomrent{
    margin-bottom: 4rem;
}
h1{
    text-align: center;
    color: aqua;

}






